body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #EE2B7A;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}

button:hover {
    border: 2px solid #EE2B7A;
    color: #EE2B7A;
    background: transparent;
}

header {
    position: fixed;
    width: 100%;
    height: 46px;
    background-color: #772D8B;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.header-left, .header-right, .header-right-far-right {
    display: flex;
}

.header-left-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.header-left-icon img {
    width: 100%;
    height: 100%;
}

.header-right-left {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFC42D;
    margin-right: 20px;
}

.header-right-far-right {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header-right-far-right-icon {
    margin-left: 3px
}

.header-right-far-right-icon img {
    width: 100%;
    height: 100%;
}

.main-background {
    top: 46px;
    position: relative;
    width: 100%;
    height: 666px;
    background-image: url(./Assets/Pictures/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    width: 100%;
    height: 79px;
    background: rgba(0, 0, 0, 0.26);
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-left-logo {
    width: 110px;
    height: 100%;
    margin-left: -14px;
    margin-right: 41px;
}

.nav-left-logo img {
    width: 100%;
    height: 100%;
}

.nav-left-text {
    text-align: center;
}

.nav-left-text h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.nav-left-text a {
    margin-top: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #FFC42D;
}

.nav-left-text a:hover {
    color: #EE2B7A;
}

.nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-right-link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-right: 40px;
}

.nav-right-link:hover{
    color: #EE2B7A;
    text-decoration: underline;
}

.nav-right-button button {
    width: 137px;
    height: 34px;
    padding: 20px;
    font-size: 14px;
    line-height: 19px;
}

.body-after-nav{
    width: 100%;
    height: 587px;
    padding: 50px 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-after-nav-left {
    margin-top: -150px;
    margin-left: -15px;
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    justify-content: space-between;
}

.body-after-nav-left h1{
    font-size: 66px;
    font-weight: 300;
}

.body-after-nav-left h2{
    font-size: 40px;
    font-weight: 100;
}

.body-after-nav-right{
    margin-top: -50px;
    width: 340px;
    height: 365px;
    padding: 20px 35px;
    box-sizing: border-box;
    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
    display: flex;
}

.body-after-nav-right div{
    width: 100%;
    height: 100%;
}

.login-form form {
    width: 100%;
    height: 100%;
}

.login-form h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    color: #FFFFFF;
}

.login-form input {
    width: 100%;
    height: 45px;
    margin-bottom: 17px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #848484;
}

.login-form h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #B6C4DA;
    text-align: right;
}

.login-form-button {
    width: 260px;
    height: 45px;
    font-size: 14px;
    line-height: 19px;
}

.login-form-no-account {
    margin-top: -10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #F8F5F5;
}

.login-form-no-account span {
    color: #EE2B7A;
}

.about {
    top: 50px;
    position: relative;
    width: 100%;
    padding: 60px 70px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 150px;
}

.about-left p, .services-top p, .testimonial-top p {
    color: #995AAA;
}
  
.about-left h1, .services-top h1, .testimonial-top h1, .news-top p {
    color: #474747;
}

.about-left div {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    min-height: 102px;
}

.top-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    text-transform: uppercase;
}

.bottom-heading {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
}

.about-right {
    width: 593px;
    height: 469px;
}
  
.about-right img {
    width: 100%;
    height: 100%;
}

.services {
    width: 100%;
    padding: 80px 50px;
    box-sizing: border-box;
}

.services-top {
    text-align: center;
}

.services-bottom {
    margin-top: 80px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
}

.services-rectangle {
    width: 100%;
    height: 377px;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
    padding: 29px 15px;
    box-sizing: border-box;
}

.services-rectangle-box {
    width: 106px;
    height: 106px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #772D8B;
}

.services-rectangle-box-logo {
    width: 70px;
    height: 70px;
}

.services-rectangle-box-logo img {
    width: 100%;
    height: 100%;
}

.services-rectangle-title {
    margin-top: 76px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #565656;
    text-align: center;
}

.services-rectangle-text {
    margin-top: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: justify;
}

.work-flow {
    margin-top: 60px;
    width: 100%;
    height: 453px;
    background-image: url(./Assets/Pictures/section_men-1\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25px 90px;
    box-sizing: border-box;
}

.work-flow-top {
    text-align: center;
}

.work-flow-top p {
    color: #D2CECE;
}

.work-flow-top h1 {
    color: #FFFFFF;
}

.work-flow-bottom {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
}

.work-flow-rectangle {
    width: 100%;
    height: 377px;
    padding: 0px 25px;
    box-sizing: border-box;
}

.work-flow-rectangle-circle {
    width: 100px;
    height: 100px;
    border: 5px solid #EE2B7A;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-flow-rectangle-circle-logo {
    width: 35px;
    height: 35px;
}

.work-flow-rectangle-circle-logo img {
    width: 100%;
    height: 100%;
}
.work-flow-rectangle-title {
    margin-top: 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.work-flow-rectangle-text {
    margin-top: 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align:-webkit-center;
}

.testimonial {
    width: 100%;
    padding: 45px 90px;
    box-sizing: border-box;
}

.testimonial-top {
    text-align: center;
}

.testimonial-bottom {
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 75px;
}

.testimonial-rectangle {
    width: 100%;
    height: 377px;
    border: 1px solid #F9F9F9;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
    padding: 40px 40px;
    box-sizing: border-box;
}

.testimonial-rectangle-circle-picture {
    width: 108px;
    height: 108px;
    margin: 0 auto;
}

.testimonial-rectangle-circle-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-rectangle-text {
    margin-top: 60px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.news {
    margin-top: 50px;
    width: 100%;
    padding: 70px 70px;
    box-sizing: border-box;
}

.news-top {
    text-align: center;
}

.news-top h3 {
    margin-top: 9px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.news-bottom {
    margin-top: 7px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.news-rectangle {
    width: 100%;
    height: 495px;
    padding: 30px 5px;
    box-sizing: border-box;
}

.news-rectangle-box {
    width: 100%;
    height: 280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C4C4C4;
}

.news-rectangle-box-logo {
    width: 100%;
    height: 250px;
}

.news-rectangle-box-logo img {
    width: 100%;
    height: 100%;
}

.news-rectangle-title {
    margin-top: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #565656;
    text-align: center;
}

.news-rectangle-text {
    margin-top: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 28px;
}

.news-rectangle-button button {
    width: 137px;
    height: 24px;
    font-size: 14px;
    line-height: 19px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.industry-standard {
    position: relative;
    top: 46px;
    width: 100%;
    height: 431px;
    background-image: url(./Assets/Pictures/clouds-daytime-equipment-129544\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.industry-standard-background {
    width: 100%;
    height: 100%;
    background: rgba(119, 45, 139, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients {
    position: relative;
    width: 100%;
    background: #FAFAFA;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 80px;
    box-sizing: border-box;
}

.clients-heading {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 62px;
    color: #474747;
    text-align: center;
    margin-bottom: 50px;
}

.clients-picture {
    width: 100%;
    height: 106px;
}

.clients-picture img {
    width: 100%;
    height: 100%;
}

.contact {
    position: relative;
    width: 100%;
    top: 120px;
    background: #333333;
    padding: 50px;
    box-sizing: border-box;   
}

.contact-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 80px;
}

.contact-group-rectangle {
    width: 100%;
    height: 366px;
    padding-right: 21px;
    box-sizing: border-box;
}

.contact-group-rectangle-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
}

.contact-group-rectangle-content {
    margin-top: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
}

.contact-group-rectangle-group {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 13px;
}

.contact-group-rectangle-group-image{
    width: 24px;
    height: 24px;
}

.contact-group-rectangle-group-image{
    width: 100%;
    height: 100%;
}

.contact-group-rectangle-group-text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: justify;
}

.contact-group-rectangle-content-small {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    color: #E3DEE4;
    text-align: left;
    margin-bottom: 6px;
}

.contact-group-rectangle-content-big {
    margin-top: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 4px;
}

.contact-group-rectangle-content-big-var {
    margin-top: 6px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 4px;
}